@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	@Html.AntiForgeryToken()
	<div>
		<a asp-controller="Identity" asp-action="Auth"> Auth </a>
		<a asp-controller="Identity" asp-action="Reg"> Reg </a>
		<a asp-controller="Identity" asp-action="Ping"> Ping </a>
	</div>
	<div>
		<a asp-controller="Storefront" asp-action="GetAssortmentList"> Assortment </a>
	</div>

</div>
